---
fail2ban_jail_d:
  sshd:
    enabled: true
    banaction: ufw[blocktype=reject]
    maxretry: 3
    findtime: 1h
    bantime: 3h
    mode: aggressive
  recidive:
    enabled: true
    findtime: 7d
    bantime: 1mo
    banaction: route[blocktype=blackhole]
    maxretry: 3
