[submodule "files/base/nfs-provisioner/nfs-subdir-external-provisioner"]
	path = files/base/nfs-provisioner/nfs-subdir-external-provisioner
	url = https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner.git
