# Editor temporary files
*swp
*~

# Vagrant temporary files
*.log
.vagrant
console.out

# Ansible retry files
.ansible-retry

# Ansible vault
vault-*

# Roles
!roles/requirements.yml
roles/*

# Binaries
kustomize
