[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-lint = "~=26.0"
molecule = "~=26.0"
ansible-core = "~=2.20.0"

[dev-packages]

[requires]
python_version = "3.14"
