[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-lint = "~=25.4"
molecule = "~=25.12"
ansible-core = "*"
powerline-status = "*"
powerline-gitstatus = "*"

[dev-packages]

[requires]
python_version = "3"
