---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: forgejo
  labels:
    app: forgejo
    auto-update-hour: '04'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: forgejo
  template:
    metadata:
      labels:
        app: forgejo
        egress: internet
        tier: frontend
    spec:
      containers:
        - name: forgejo
          image: codeberg.org/forgejo/forgejo:11
          imagePullPolicy: Always
          env:
            - name: USER_UID
              value: "1000"
            - name: USER_GID
              value: "1000"
            - name: FORGEJO__database__DB_TYPE
              value: sqlite3
            - name: FORGEJO__database__SQLITE_JOURNAL_MODE
              value: WAL
            - name: FORGEJO__server__SSH_PORT
              value: "2022"
            - name: FORGEJO__server__LANDING_PAGE
              value: explore
            - name: FORGEJO__service__USERNAME_COOLDOWN_PERIOD
              value: "7"
            - name: FORGEJO__service__ENABLE_CAPTCHA
              value: "true"
            - name: FORGEJO__server__REQUIRE_CAPTCHA_FOR_LOGIN
              value: "true"
            - name: FORGEJO__server__CAPTCHA_TYPE
              value: image
            - name: FORGEJO__repository__signing__DEFAULT_TRUST_MODEL
              value: commiter
            - name: FORGEJO__security__LOGIN_REMEMBER_DAYS
              value: "30"
            - name: FORGEJO__database__SLOW_QUERY_THRESHOLD
              value: "3"
            - name: FORGEJO__cache__ADAPTER
              value: twoqueue
            - name: FORGEJO__cache__HOST
              value: '{"size":100, "recent_ratio":0.25, "ghost_ratio":0.5}'
          securityContext:
            allowPrivilegeEscalation: false
          ports:
            - name: forgejo-web
              containerPort: 3000
            - name: forgejo-ssh
              containerPort: 22
          volumeMounts:
            - name: forgejo-data
              mountPath: /data
      volumes:
        - name: forgejo-data
          hostPath:
            type: DirectoryOrCreate
            path: /srv/forgejo/data
 
---
apiVersion: v1
kind: Service
metadata:
  name: forgejo
  labels:
    app: forgejo
spec:
  selector:
    app: forgejo
  ports:
    - protocol: TCP
      name: forgejo-web
      port: 3000
    - protocol: TCP
      name: forgejo-ssh
      port: 22

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: forgejo
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: private-ip-ranges@file
  labels:
    app: forgejo
spec:
  rules:
    - host: forgejo.192.168.122.11.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: forgejo
                port:
                  number: 3000
