---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traefik-letsencrypt
  namespace: traefik
  labels:
    app: traefik
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 250Mi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: traefik
  name: traefik
  labels:
    app: traefik
    auto-update-hour: '00'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-ingress-controller
      nodeSelector:
        # Ensure that we run a node that can handle SSL better than aarch64
        kubernetes.io/arch: amd64
      containers:
        - name: traefik
          image: docker.io/traefik:v2.4
          imagePullPolicy: Always
          args:
            - --api=true
            - --log.level=INFO
            - --accesslog
            # - --accesslog.filepath=/var/log/access.log
            - --core.defaultrulesyntax=v3
            # Don't verfy tls on dockers
            - --serverstransport.insecureskipverify=true
            # File provider
            - --providers.file.directory=/etc/traefik
            # Kubernetes ingress provider
            - --providers.kubernetesingress
            # Listen to port 80 and redirect to 443
            - --entrypoints.web.address=:80
            - --entrypoints.web.proxyprotocol=true
            - --entrypoints.web.proxyprotocol.trustedips=10.0.0.0/8
            - --entrypoints.web.http.redirections.entrypoint.to=websecure
            - --entrypoints.web.http.redirections.entrypoint.scheme=https
            # Listen to port 443 with SSL
            - --entrypoints.websecure.address=:443
            - --entrypoints.websecure.proxyprotocol=true
            - --entrypoints.websecure.proxyprotocol.trustedips=10.0.0.0/8
            # https://help.nextcloud.com/t/make-nextcloud-collabora-work-with-traefik-3-6-4/237255
            - --entryPoints.websecure.http.encodedCharacters.allowEncodedSlash=true
            # - --entryPoints.websecure.http.encodedCharacters.allowEncodedBackSlash=true
            # - --entryPoints.websecure.http.encodedCharacters.allowEncodedNullCharacter=false
            # - --entryPoints.websecure.http.encodedCharacters.allowEncodedSemicolon=false
            # - --entryPoints.websecure.http.encodedCharacters.allowEncodedPercent=true
            - --entryPoints.websecure.http.encodedCharacters.allowEncodedQuestionMark=true
            # - --entryPoints.websecure.http.encodedCharacters.allowEncodedHash=false
            - --entrypoints.websecure.http.tls=true
            - --entrypoints.websecure.http.tls.options=mintls12@file
            # - --entrypoints.websecure.http.tls.certresolver=letsencrypt
            # - --entrypoints.websecure.http.middlewares=default-https-headers@file
            - --entrypoints.websecure.http3
            # Metrics
            - --metrics.prometheus.addServicesLabels=true
            - --metrics.prometheus.addrouterslabels=true
            - --metrics.prometheus.addEntryPointsLabels=true
            - --metrics.prometheus.manualrouting=true
            - --entryPoints.metrics.address=:8082
            # Forgejo
            - --entryPoints.ssh.address=:2022
          securityContext:
            allowPrivilegeEscalation: false
            # readOnlyRootFilesystem: true
            # capabilities:
            #   drop: [ "all" ]
            #   add: [ "chown" ]
          ports:
            - name: web
              containerPort: 80
              hostPort: 80
              protocol: TCP
            - name: websecure
              containerPort: 443
              hostPort: 443
              protocol: TCP
            - name: metrics
              containerPort: 8082
              hostPort: 8082
              protocol: TCP
            - name: ssh
              containerPort: 2022
              hostPort: 2022
              protocol: TCP
          volumeMounts:
            - name: letsencrypt
              mountPath: /acme
            - name: traefik-config
              mountPath: /etc/traefik
            - name: traefik-log
              mountPath: /var/log
      volumes:
        - name: letsencrypt
          persistentVolumeClaim:
            claimName: traefik-letsencrypt
        - name: traefik-config
          configMap:
            name: traefik-config
        - name: traefik-log
          hostPath:
            type: DirectoryOrCreate
            path: /srv/traefik/log

# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: traefik
#   namespace: traefik
#   labels:
#     app: traefik
# spec:
#   # type: LoadBalancer
#   type: NodePort
#   #externalTrafficPolicy: Local
#   selector:
#     app: traefik
#   ports:
#     - protocol: TCP
#       name: web
#       targetPort: web
#       port: 80
#     - protocol: TCP
#       name: websecure
#       targetPort: websecure
#       port: 443
#     - protocol: UDP
#       name: websecure-udp
#       targetPort: websecure
#       port: 443
#     - protocol: TCP
#       name: registry
#       targetPort: registry
#       port: 5487
#   #externalIPs:
