---
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - files:
      - config/prometheus.yml
    name: prometheus-config
patches:
  ## targets-traefik.yml
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: prometheus-config
      data:
        targets-traefik.yml: |
          ---
          - targets:
            - traefik.192.168.122.11.nip.io:8082
resources:
  - rbac.yaml
  - deployment.yml
