---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud
  labels:
    app: nextcloud
type: Opaque
stringData:
  REDIS_HOST_PASSWORD: password
  MYSQL_USER: nextcloud
  MYSQL_PASSWORD: password
  MYSQL_ROOT_PASSWORD: password
  NEXTCLOUD_ADMIN_USER: admin
  NEXTCLOUD_ADMIN_PASSWORD: password

---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-talk-hpb
  labels:
    app: nextcloud-talk-hpb
type: Opaque
stringData:
  TURN_SECRET: password
  SIGNALING_SECRET: password
  INTERNAL_SECRET: password

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud-mysql
  labels:
    app: nextcloud-mysql
    auto-update-hour: '00'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud-mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nextcloud-mysql
        tier: backend
        part-of: nextcloud
    spec:
      containers:
        - name: nextcloud-mysql
          image: docker.io/mariadb:10
          imagePullPolicy: Always
          args:
            - --transaction-isolation=READ-COMMITTED
            - --binlog-format=ROW
            - --innodb-file-per-table=1
            - --log-bin-trust-function-creators=1
            - --log-bin
            - --expire-logs-days=7
            - --slave-connections-needed-for-purge=0
            - --innodb-buffer-pool-size=536870912
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
          env:
            - name: MARIADB_AUTO_UPGRADE
              value: "1"
            - name: MYSQL_DATABASE
              value: nextcloud
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: MYSQL_PASSWORD
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: MYSQL_ROOT_PASSWORD
          securityContext:
            allowPrivilegeEscalation: false
            # readOnlyRootFilesystem: true
            # capabilities:
            #   drop: [ "all" ]
            #   add: [ "chown" ]
          ports:
            - name: nextcloud-mysql
              containerPort: 3306
      volumes:
        - name: mysql-data
          hostPath:
            path: /srv/nextcloud/mysql
            type: DirectoryOrCreate

---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud-mysql
  labels:
    app: nextcloud-mysql
spec:
  selector:
    app: nextcloud-mysql
  ports:
    - protocol: TCP
      name: mysql
      port: 3306

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud-redis
  labels:
    app: nextcloud-redis
    auto-update-hour: '00'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud-redis
  template:
    metadata:
      labels:
        app: nextcloud-redis
        tier: backend
        part-of: nextcloud
    spec:
      containers:
        - name: nextcloud-redis
          image: docker.io/redis:latest
          imagePullPolicy: Always
          command:
            - redis-server
            - --save
            - "900"
            - "1"
            - --requirepass
            - "$(REDIS_HOST_PASSWORD)"
          securityContext:
            allowPrivilegeEscalation: false
            # readOnlyRootFilesystem: true
            # capabilities:
            #   drop: [ "all" ]
            #   add: [ "chown" ]
          env:
            - name: REDIS_HOST_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: REDIS_HOST_PASSWORD
          ports:
            - name: nextcloud-redis
              containerPort: 6379
          volumeMounts:
            - name: nextcloud-redis
              mountPath: /data
      volumes:
        - name: nextcloud-redis
          hostPath:
            path: /srv/nextcloud/redis
            type: DirectoryOrCreate

---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud-redis
  labels:
    app: nextcloud-redis
spec:
  selector:
    app: nextcloud-redis
  ports:
    - protocol: TCP
      name: nextcloud-redis
      port: 6379

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-html
  labels:
    app: nextcloud-html
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud
  labels:
    app: nextcloud
    auto-update-hour: '00'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud
  template:
    metadata:
      labels:
        app: nextcloud
        tier: frontend
        part-of: nextcloud
        egress: any
    spec:
      containers:
        - name: nextcloud
          image: docker.io/nextcloud:21
          imagePullPolicy: Always
          # resources:
          #   limits:
          #     memory: 2Gi
          env:
            - name: NEXTCLOUD_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: NEXTCLOUD_ADMIN_USER
            - name: NEXTCLOUD_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: NEXTCLOUD_ADMIN_PASSWORD
            - name: NEXTCLOUD_DATA_DIR
              value: /var/www/html/data
            - name: NEXTCLOUD_TABLE_PREFIX
              value: oc_
            - name: NEXTCLOUD_TRUSTED_DOMAINS
              value: nextcloud.192.168.122.11.nip.io
            - name: OVERWRITEPROTOCOL
              value: https
            - name: PHP_MEMORY_LIMIT
              value: 1024M
            - name: PHP_UPLOAD_LIMIT
              value: 1024M
            - name: TRUSTED_PROXIES
              value: 10.0.0.0/8
            - name: REDIS_HOST
              value: nextcloud-redis
            - name: REDIS_HOST_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: REDIS_HOST_PASSWORD
            - name: MYSQL_DATABASE
              value: nextcloud
            - name: MYSQL_HOST
              value: nextcloud-mysql
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud
                  key: MYSQL_PASSWORD
          securityContext:
            allowPrivilegeEscalation: false
            # readOnlyRootFilesystem: true
            # capabilities:
            #   drop: [ "all" ]
            #   add: [ "chown" ]
          ports:
            - name: nextcloud
              containerPort: 80
          volumeMounts:
            - name: nextcloud-html
              mountPath: /var/www/html
            - name: nextcloud-custom-apps
              mountPath: /var/www/html/custom_apps
            - name: nextcloud-config
              mountPath: /var/www/html/config
            - name: nextcloud-data
              mountPath: /var/www/html/data
            - name: nextcloud-apache-config
              mountPath: /etc/apache2/mods-enabled/mpm_prefork.conf
              subPath: mpm_prefork.conf
              readOnly: true
            - name: nextcloud-apache-config
              mountPath: /etc/apache2/apache2.conf
              subPath: apache2.conf
              readOnly: true
            - name: nextcloud-php-config
              mountPath: /usr/local/etc/php/conf.d/nextcloud-apc.ini
              subPath: nextcloud-apc.ini
              readOnly: true
        - name: nextcloud-cron
          image: docker.io/nextcloud:21
          imagePullPolicy: Always
          command:
            - /cron.sh
          volumeMounts:
            - name: nextcloud-html
              mountPath: /var/www/html
            - name: nextcloud-custom-apps
              mountPath: /var/www/html/custom_apps
            - name: nextcloud-config
              mountPath: /var/www/html/config
            - name: nextcloud-data
              mountPath: /var/www/html/data
            - name: nextcloud-apache-config
              mountPath: /etc/apache2/mods-enabled/mpm_prefork.conf
              subPath: mpm_prefork.conf
              readOnly: true
            - name: nextcloud-apache-config
              mountPath: /etc/apache2/apache2.conf
              subPath: apache2.conf
              readOnly: true
            - name: nextcloud-php-config
              mountPath: /usr/local/etc/php/conf.d/nextcloud-apc.ini
              subPath: nextcloud-apc.ini
              readOnly: true
      volumes:
        - name: nextcloud-html
          persistentVolumeClaim:
            claimName: nextcloud-html
        - name: nextcloud-config
          hostPath:
            type: DirectoryOrCreate
            path: /srv/nextcloud/config
        - name: nextcloud-data
          hostPath:
            type: DirectoryOrCreate
            path: /srv/nextcloud/data
        - name: nextcloud-custom-apps
          hostPath:
            type: DirectoryOrCreate
            path: /srv/nextcloud/custom-apps
        - name: nextcloud-apache-config
          configMap:
            name: nextcloud-apache-config
        - name: nextcloud-php-config
          configMap:
            name: nextcloud-php-config

---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud
  labels:
    app: nextcloud
spec:
  selector:
    app: nextcloud
  ports:
    - protocol: TCP
      name: web
      port: 80

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: nextcloud
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: nextcloud-redirect@file
  labels:
    app: nextcloud
spec:
  rules:
    - host: nextcloud.192.168.122.11.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  number: 80

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud-talk-hpb
  labels:
    app: nextcloud-talk-hpb
    auto-update-hour: '00'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud-talk-hpb
  template:
    metadata:
      labels:
        app: nextcloud-talk-hpb
        egress: any
        tier: frontend
    spec:
      containers:
        - name: nextcloud-talk-hpb
          image: docker.io/nextcloud/aio-talk:latest
          imagePullPolicy: Always
          # resources:
          #   limits:
          #     memory: 2Gi
          env:
            - name: TURN_SECRET
              valueFrom:
                secretKeyRef:
                  name: nextcloud-talk-hpb
                  key: TURN_SECRET
            - name: SIGNALING_SECRET
              valueFrom:
                secretKeyRef:
                  name: nextcloud-talk-hpb
                  key: SIGNALING_SECRET
            - name: INTERNAL_SECRET
              valueFrom:
                secretKeyRef:
                  name: nextcloud-talk-hpb
                  key: INTERNAL_SECRET
            - name: NC_DOMAIN
              value: nextcloud.192.168.122.11.nip.io
            - name: TALK_PORT
              value: "3478"
            - name: TALK_HOST
              value: hpb.nextcloud.192.168.122.11.nip.io
          securityContext:
            allowPrivilegeEscalation: false
            # readOnlyRootFilesystem: true
            # capabilities:
            #   drop: [ "all" ]
            #   add: [ "chown" ]
          ports:
            - name: web
              containerPort: 8081
            - name: turn-udp
              containerPort: 3478
              protocol: UDP
            - name: turn-tcp
              containerPort: 3478
              protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud-talk-hpb
  labels:
    app: nextcloud-talk-hpb
spec:
  selector:
    app: nextcloud-talk-hpb
  ports:
    - protocol: TCP
      name: web
      port: 8081

---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud-talk-turn
  labels:
    app: nextcloud-talk-hpb
spec:
  selector:
    app: nextcloud-talk-hpb
  ports:
    - protocol: TCP
      name: turn-tcp
      port: 3478
      targetPort: 3478
    - protocol: UDP
      name: turn-udp
      port: 3478
      targetPort: 3478
  type: LoadBalancer



---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: nextcloud-talk-hpb
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  labels:
    app: nextcloud-talk-hpb
spec:
  rules:
    - host: hpb.nextcloud.192.168.122.11.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud-talk-hpb
                port:
                  number: 8081
