---
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - files:
      - config/mpm_prefork.conf
      - config/apache2.conf
    name: nextcloud-apache-config
  - files:
      - config/nextcloud-apc.ini
    name: nextcloud-php-config
resources:
  - rbac.yml
  - deployment.yml
  - crontab.yml
  - netpol.yml

