---
http:
  routers:
    metrics:
      rule: Host(`traefik.192.168.122.11.nip.io`) && Path(`/metrics`)
      service: prometheus@internal
      middlewares:
        - private-ip-ranges@file
      entryPoints:
        - metrics
